.parent{
  display: grid;
  grid-template-columns: minmax(150px,25%) auto;
  
  
}

.leftSide {
  background-color:grey;
  place-items: center;
  
  
  
 }
 .rightSide{
  background-color:whitesmoke;
  border: 2px solid black;
  display:grid;
  place-items: center;

  
 }

