html,
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
  margin:0px;
 
 
  
}
.leftSide {
  background-color:grey;
  border: 2px solid black;
  overflow:hidden;
  left:0;
  text-align: center;
  height:1000px;
  
  
 }
 .rightSide{
  background-color:whitesmoke;
  color: white;
  border: 2px solid black;
  overflow:hidden;
  right:0;
  text-align: center;
 }

.centered img {
  width: 150px;
  border-radius: 50%;
}
