html,

body {
    width: 100%;
    display: flex;
    background-color: #ffffff;
}

.container-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding: 0 15px;
    background: #ff5555;
}

.container-left .details img {
    margin-top: 20%;
}

.nav-menu {
    margin: 0;
    margin-top: 30%;
    padding: 0;
}

.nav-menu * {
    list-style: none;
}

.nav-menu a {
    position: inherit;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

.nav-menu a:hover {
    color: #000000;
    text-decoration: none;
}

.container-right {
    position: inherit;
    margin-top: 10%;
    margin-right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
}

.section {
    margin-top: 5%;
    margin-right: 5%;
    width: 80%;
    height: 70vh;
    
}
.section2 {
    margin-top: 5%;
    margin-right: 5%;
    width: 80%;
    height: 50vh;
    
}
.section3 {
    margin-top: 5%;
    margin-right: 5%;
    width: 80%;
    height: auto;
    
}

.center {
    margin-left: 50%;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.foot {
position:static;
left:    30px;
bottom:   30px;
float:none;
display:block;
}

table {
    border: 2px solid red;
    background-color:whitesmoke;
    table-layout: auto;
    width: 1000px;

}

th {
    border-bottom: 5px solid #000;
    background-color:#ff5555;
}

td {
    border-bottom: 2px solid #666;
    
}


.centro {
    margin-left: auto;
    margin-right: 100px;
}
h5{
  
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: 100px;
}
