html,

body {
    width: 100%;
    display: flex;
    background-color: #ffffff;
}

.container-left{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    padding: 0 15px;
    background: #ff5555;
}

.container-left .details img{
    margin-top: 20%;
}

.nav-menu {
    margin: 0;
    margin-top: 30%;
    padding: 0;
}

.nav-menu * {
    list-style: none;
}

.nav-menu a {
    position: inherit;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
  }
  
.nav-menu a:hover {
    color: #000000;
    text-decoration: none;
}

.container-right{
    position: inherit;
    margin-top: 10%;
    margin-right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px; 
}

.section {
    margin-top: 5%;
    margin-right: 5%;
    width: 80%;
    height: 100vh;
    text-align: center;
}
.center {
    margin-left:50% ;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
.foot{
    bottom: 0;
  }

